.title {
    color:#FF9B3C;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    text-align: center;
}
 ion-list{
    padding-top:0;
}
ion-item{
    font-family:  'Raleway', sans-serif;
}

.create{
    width: 30px;
    height: 30px;
    margin:10px;
    margin-bottom: 0;
    color:#FF9B3C;
}
.logoff{
    width: 30px;
    height: 30px;
    margin:10px;
    margin-bottom: 0;
    color:#FF9B3C;
}