
.headertitle{
    color: white;
    text-align:center;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    margin-left: -50px;
}
.arrow{
    background-color:#FF9B3C;
}
ion-icon{
    color:rgb(255, 255, 255);
}
ion-button{
    font-family:  'Raleway', sans-serif;
}
.back{
    width: 30px;
    height: 30px;
    margin:10px;
}
.input-wrapper{
    padding: 0 20px 0 20px;
    vertical-align: middle;
}
.input{
    margin-bottom: 10px;
}
.button1{
    padding: 0 20px;
    position: absolute;
    bottom: 5%;
    width: 100%;
}