.headertitle{
    color: white;
    text-align:center;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    margin-left: -50px;
}
#title{
    font-family: 'Indie Flower', cursive;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 50px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transform: translateY(60px);
}
.arrow{
    background-color:#FF9B3C;
}
ion-icon{
    color:rgb(255, 255, 255);
}
ion-button{
    font-family:  'Raleway', sans-serif;
}
.back{
    width: 30px;
    height: 30px;
    margin:10px;
}
.image-wrapper{
    background-color: grey;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    display: block;
    margin:0 auto;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
#typeImage{
    height: 140px;
    width: 140px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
}
.input-wrapper{
    padding: 0 20px 0 20px;
    vertical-align: middle;
}
.button1{
    padding: 0 20px;
    position: absolute;
    bottom: 5%;
    width: 100%;
}