ion-content{
    --ion-background-color:#FF9B3C;
    display: grid!important;
}

img{
    display: block;
    margin:  auto;
    margin-top: 33vh;
    height: 150px;
}
p{
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    text-align: center;
}
